.product {
    width: 60%;
    position: relative;
    background-color: white;
    font-family: 'Poppins';
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.productImage {
    object-fit: contain;
}

.productDetails {
    display: flex;
    flex-direction: row;
}

.imageBox {
    position: relative;
    width: 100%;
    height:80%;
}

.tileBanner {
    width: 40%;
    height: 40vh;
    position: relative;
}

.saleFlash {
    position: absolute;
    color: white;
    background-image: linear-gradient(30deg, #990000, #ff0000);
    top: 0px;
    right: 0px;
    padding: 5px;
}

.discountFlash {
    color: white;
    background-image: linear-gradient(60deg, #990000, #ff0000);
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
}

.productName {
    font-family: 'Poppins';
    background-color: black;
    color: white;
    font-size: 12px;
    padding-left: 5px;
    margin-top: -5px;
}

.savingsBanner {
    display: flex;
    flex-direction: row;
}

.oldPrice {
    font-size: 11px;
    text-decoration: line-through;
    font-weight: 200;
}

.newPrice {
    font-size: 19px;
    font-weight: 600;
}

.prices {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: auto;
}